---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">About Me</h2>
        <div class="tag-post-list">
          <ul>
            <li>正在作为一个废物｜开心的生活｜学习产生快乐的事物</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Follow Me</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://twitter.com/Nix_Hou" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="https://space.bilibili.com/6454144" target="_blank">bilibili</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
