---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <!-- <div class="email">Email: {SITE_EMAIL}</div> -->
          </div>

          <div class="item products">
            <div class="item-title">Blog</div>
            <a href="https://nixhou.xlog.app" target="_blank">xLog</a> 
          </div>

          <div class="item community">
            <div class="item-title">Social Media</div>
            <a href="https://twitter.com/Nix_Hou" target="_blank">Twitter</a>
            <a href="https://space.bilibili.com/6454144" target="_blank">bilibili</a>
          </div>
          
          <div class="item resources">
            <div class="item-title">Reference</div>
            <a href="https://github.com/austin2035/astro-air-blog" target="_blank">austin2035</a>
          </div>

        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`${year} ${SITE_NAME}`} 
        </div>
      </div>
    </div>
  </div>
</div>
